body {
  overflow: visible;
  height: 100%;
  margin-bottom: 0px;
  background-color: #242424;
  background-image: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 30px;
  line-height: 44px;
  font-weight: 200;
  text-align: center;
  text-transform: capitalize;
}

h2 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, .43);
  font-size: 20px;
  line-height: 36px;
  font-weight: 100;
  text-align: center;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 21px;
  font-family: Lato, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px 9px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  position: relative;
  left: 0px;
  top: 0px;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 40px 39px 39px;
  border-radius: 2px;
  background-color: hsla(0, 0%, 100%, .01);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: Lato, sans-serif;
  color: #bababa;
  font-size: 19px;
  line-height: 32px;
  font-weight: 300;
}

.button {
  position: static;
  left: 0px;
  top: 0px;
  display: block;
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding: 0px 14px 2px;
  border-radius: 3px;
  background-color: #383838;
  box-shadow: none;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 40px;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #2980b9;
}

.menu-gen {
  position: relative;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: auto;
  margin-top: 0px;
  padding: 20px;
  background-color: rgba(255, 0, 0, 0);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #34495e;
  text-align: center;
}

.menu-gen-item {
  display: inline-block;
  width: auto;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: 0px;
  padding: 0px 10px;
  border-radius: 2px;
  background-color: #5c5c5c;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .07);
  -webkit-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
}

.menu-gen-item:hover {
  background-color: #e74c3c;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .47);
}

.menu-gen-item.w--current {
  margin-left: 0px;
  padding-right: 8px;
  background-color: #e74c3c;
  line-height: 30px;
}

.menu-gen-item.pub {
  background-color: rgba(39, 174, 96, .9);
}

.menu-gen-item.pub.home {
  padding-left: 38px;
  background-image: url('../images/alien.png');
  background-position: 4% 48%;
  background-size: 22px;
  background-repeat: no-repeat;
}

.menu-gen-item.twitter-button {
  padding-left: 36px;
  background-color: #ededed;
  background-image: url('../images/twitterme.svg');
  background-position: 9px 47%;
  background-size: 20px;
  background-repeat: no-repeat;
  color: #303030;
}

.menu-gen-item.twitter-button.vector-faces {
  float: right;
}

.menu-gen-item.homebutton {
  padding-left: 36px;
  background-image: url('../images/birdhouse-wh.svg');
  background-position: 9px 44%;
  background-size: 18px;
  background-repeat: no-repeat;
}

.menu-gen-item.webflow-button {
  padding-left: 36px;
  background-image: url('../images/Webflow-w.png'), -webkit-linear-gradient(0deg, #ff007b, #07c7ed);
  background-image: url('../images/Webflow-w.png'), linear-gradient(90deg, #ff007b, #07c7ed);
  background-position: 4% 39%, 0% 0%;
  background-size: 23px, auto;
  background-repeat: no-repeat, repeat;
}

.menu-gen-item.webflow-button.vector-faces {
  float: right;
}

.label {
  display: inline-block;
  margin-top: 1px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: hsla(0, 0%, 100%, .8);
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.label.twitter {
  color: rgba(46, 46, 46, .8);
  font-weight: 700;
}

.label.webflow-button-text {
  font-weight: 400;
}

.label.green-label {
  font-weight: 400;
}

.sb {
  margin-bottom: 0px;
  padding-bottom: 20px;
  background-color: hsla(0, 0%, 100%, 0);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 77px;
  line-height: 50px;
  text-align: center;
}

.sb.lil {
  height: 60px;
  padding: 10px 10px 0px;
  font-size: 9px;
}

.logo {
  color: #e74c3c;
  font-size: 80px;
  line-height: 110px;
  font-weight: 700;
}

.logo.lillogo {
  font-size: 20px;
  line-height: 20px;
}

.pink {
  color: #e74c3c;
}

.sticky-navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: hsla(0, 0%, 100%, .93);
}

.sticky-navbar-link {
  opacity: 0.51;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #000;
}

.sticky-navbar-link:hover {
  opacity: 0.29;
}

.sticky-navbar-link.w--current {
  opacity: 1;
  color: #ff007b;
}

.sticky-navbar-link.yellow.w--current {
  color: #d1bf56;
}

.sticky-navbar-link.cyan.w--current {
  color: #76c2cc;
}

.sticky-navbar-link.orange.w--current {
  color: #e67e22;
}

.sticky-navbar-link.nlue.w--current {
  color: #2980b9;
}

.sticky-navbar-link.green.w--current {
  color: #27ae60;
}

.sticky-navbar-link.red.w--current {
  color: #e74c3c;
}

.sticky-navbar-link.navy.w--current {
  color: #34495e;
}

.sticky-navbar-link.denim.w--current {
  color: #1c5e84;
}

.sticky-navbar-link.purple.w--current {
  color: #5d396c;
}

.case {
  display: inline-block;
  width: 50px;
  height: 50px;
  box-shadow: none;
}

.case.on {
  border: 1px solid #07c7ed;
  border-radius: 0px;
  background-color: #07c7ed;
  box-shadow: none;
}

.pixel-line {
  position: relative;
  height: 50px;
  text-align: center;
}

.backk-to-sandbox-home {
  position: relative;
  left: 0px;
  top: 0px;
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.68;
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  font-family: Lato, sans-serif;
  color: #4d57a3;
  font-weight: 400;
  text-decoration: none;
}

.backk-to-sandbox-home:hover {
  opacity: 1;
  color: #fc3d99;
}

.backk-to-sandbox-home.vector-faces {
  top: 5px;
  float: left;
  color: #fff;
}

.backk-to-sandbox-home.vector-faces:hover {
  color: #51d3ed;
}

.back-arrow {
  display: inline-block;
  -webkit-transform: rotate(180deg) translate(0px, -1px);
  -ms-transform: rotate(180deg) translate(0px, -1px);
  transform: rotate(180deg) translate(0px, -1px);
}

.minus {
  color: hsla(0, 0%, 100%, .36);
}

.main-content {
  position: static;
  overflow: visible;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.teaser-container {
  display: inline-block;
  width: 50%;
  padding: 10px;
  border-color: #fff;
  opacity: 1;
}

.overlay-container {
  position: fixed;
  left: -100%;
  top: 0px;
  z-index: 50;
  display: block;
  overflow: scroll;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: #ad93b8;
  opacity: 1;
}

.overlay-container._2 {
  background-color: #27ae60;
  opacity: 0;
}

.overlay-container._3 {
  background-color: #ff007b;
  opacity: 0;
}

.overlay-container._4 {
  background-color: #3378bd;
  opacity: 0;
}

.overlay-container._1 {
  overflow: auto;
  background-color: #746fa3;
  opacity: 1;
}

.overlay-container._5 {
  background-color: #ff007b;
}

.overlay-container._6 {
  background-color: #5d396c;
}

.overlay-container._7 {
  background-color: #6ead26;
}

.overlay-container._8 {
  background-color: #d41333;
}

.overlay-container._9 {
  background-color: #746fa3;
}

.close-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 100;
  display: none;
  overflow: hidden;
  width: 50px;
  height: 50px;
  min-width: 0px;
  margin-top: 0px;
  opacity: 1;
  text-align: center;
}

.teaser-content {
  overflow: hidden;
  width: 100%;
  min-height: 340px;
  padding-top: 30px;
  border-radius: 5px;
  background-color: #51d3ed;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .59);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  text-align: center;
}

.teaser-content:hover {
  background-color: #746fa3;
  background-image: none;
}

.teaser-content.card2:hover {
  background-color: #27ae60;
}

.teaser-content.card3:hover {
  background-color: #ff007b;
}

.teaser-content.card4:hover {
  background-color: #3378bd;
}

.teaser-content.card5:hover {
  background-color: #ff007b;
}

.teaser-content.card6:hover {
  background-color: #5d396c;
}

.teaser-content.card7 {
  background-color: #51d3ed;
}

.teaser-content.card7:hover {
  background-color: #6ead26;
}

.teaser-content.card8:hover {
  background-color: #d41333;
}

.teaser-content.card10 {
  background-color: #51d3ed;
}

.teaser-content.card10:hover {
  background-color: #ffa600;
}

.container-of-teasers {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.vector-face-title {
  margin-top: 0px;
  margin-bottom: 9px;
  padding-right: 42px;
  padding-left: 42px;
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 28px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .13);
}

.vector-face-chapo {
  margin-bottom: 30px;
  padding-right: 38px;
  padding-left: 38px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .11);
}

.vface {
  height: 205px;
  direction: rtl;
}

.header-carreers {
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 0px;
  margin-bottom: 40px;
  padding-top: 20px;
  text-align: center;
}

.careers-exp {
  margin-top: 60px;
  color: #51d3ed;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.careers-exp.overlay-title {
  position: static;
  display: block;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .51);
}

.careers-exp.overlay-title.inner {
  margin-top: 20px;
  font-size: 51px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .34);
}

.career-exp-chapo {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 154px;
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: Merriweather, serif;
  color: #fff;
  font-size: 22px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 0px;
}

.career-exp-chapo.overlay-chapo {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .43);
}

.career-exp-chapo.overlay-chapo.inside {
  padding-right: 76px;
  padding-left: 76px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: Lato, sans-serif;
  font-size: 20px;
  line-height: 30px;
}

.career-exp-chapo.overlay-chapo.inside.but {
  display: inline;
  margin-bottom: 0px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .3);
}

.career-exp-chapo.overlay-chapo.inside.poem-section {
  margin-right: 104px;
  margin-left: 104px;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 4px;
  background-color: hsla(0, 0%, 100%, .8);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  font-family: Merriweather, serif;
  color: #3d3d3d;
  font-size: 18px;
  font-weight: 400;
  text-shadow: none;
}

.career-exp-chapo.overlay-chapo.inside.dark {
  background-color: hsla(0, 0%, 100%, 0);
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  color: #fff;
  text-shadow: 0 1px 0 hsla(0, 0%, 100%, .12);
}

.carreer-exp-overlay-container {
  position: relative;
  overflow: visible;
  margin-top: 20px;
  padding-bottom: 80px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.mail-section {
  position: relative;
  left: 0px;
  top: 50%;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  width: 300px;
  height: 200px;
  margin: 0px auto;
  border-bottom: 0px solid #575757;
  background-color: #baa488;
  text-align: center;
}

.educationicon {
  display: block;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.educationicon.multi {
  height: 270px;
  margin-right: 8px;
  margin-left: 8px;
}

.uber {
  overflow: hidden;
  width: 100%;
}

.multiply-close {
  position: relative;
  top: -20px;
  padding-bottom: 0px;
  font-family: 'Varela Round', sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 80px;
  text-decoration: none;
}

.author {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: -27px;
  font-family: Lato, sans-serif;
  color: #969696;
  font-size: 14px;
}

.mini-menu-vector-faces {
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mini-menu-vector-faces:hover {
  opacity: 1;
}

.mini-menu-vector-faces.down {
  margin-top: 80px;
  margin-bottom: 20px;
  opacity: 0.66;
}

.mini-menu-vector-faces.down:hover {
  opacity: 1;
}

.poem-author {
  font-family: Lato, sans-serif;
  color: #737373;
  font-size: 15px;
}

.pwish-title {
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0px;
  font-family: Lato, sans-serif;
  color: #a3f0ff;
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}

.illus {
  margin-right: 104px;
  margin-left: 104px;
  padding: 40px;
  background-color: #bfbfbf;
}

.hcent {
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}

.top-fold {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 2;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-color: #e7e8d8 transparent;
  border-top-style: solid;
  border-top-width: 100px;
  border-right-style: solid;
  border-right-width: 150px;
  border-left-style: solid;
  border-left-width: 150px;
  -webkit-transition: margin 500ms ease, border 500ms ease;
  transition: margin 500ms ease, border 500ms ease;
}

.top-fold:hover {
  border-top-width: 2px;
  border-bottom-style: none;
  border-bottom-width: 100px;
}

.contact {
  position: absolute;
  left: 0px;
  top: 10px;
  right: 0px;
  bottom: 0px;
  padding-top: 10px;
  background-color: #fff;
}

.contact:hover {
  -webkit-transform: translate(0px, -46px);
  -ms-transform: translate(0px, -46px);
  transform: translate(0px, -46px);
}

.envelopeside {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  height: 100%;
  border-top: 100px solid transparent;
  border-left: 150px solid #dec18e;
}

.envelopeside.right {
  left: auto;
  top: 0px;
  right: 0px;
  bottom: 0px;
  border-right: 150px solid #dec18e;
  border-left: 0px none transparent;
}

.link {
  display: block;
  margin-bottom: 3px;
  font-family: Lato, sans-serif;
  color: #76c2cc;
}

.link-2 {
  font-family: Lato, sans-serif;
  color: #76c2cc;
  font-size: 16px;
}

.hover-bar {
  width: 90vw;
  height: 10vh;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.display-container {
  display: block;
  overflow: visible;
  width: 66vw;
  height: 10vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 5vh;
  padding-bottom: 5vh;
  border-style: solid;
  border-width: 5vh 33vw;
  border-color: transparent #fff rgba(7, 82, 63, 0) #51d3ed;
  border-radius: 25px;
  -webkit-transition: border 600ms ease, background-color 1000ms ease, box-shadow 500ms ease;
  transition: border 600ms ease, background-color 1000ms ease, box-shadow 500ms ease;
}

.display-container:hover {
  border-top-color: #51d3ed;
  border-right-width: 10vw;
  border-bottom-color: #fff;
  border-left-width: 10vw;
}

.headline-behind-doors {
  position: relative;
  left: 0px;
  top: 50%;
  right: 0px;
  margin-top: 0vh;
  margin-bottom: 0px;
  background-color: transparent;
  opacity: 0;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
  font-weight: 400;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .73);
}

.body {
  background-color: #fc3d99;
}

.flexparent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.div-block {
  padding-bottom: 20px;
  text-align: center;
}

.contenthorizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
  padding: 10px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-right-radius: 10px;
  background-color: hsla(0, 0%, 96%, .9);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .65);
  -webkit-transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: box-shadow 300ms ease, -webkit-transform 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease;
}

.contenthorizontal:hover {
  box-shadow: 1px 4px 3px 0 rgba(0, 0, 0, .31);
  -webkit-transform: translate(0px, -5px);
  -ms-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}

.heading {
  display: inline-block;
  margin-right: 10px;
  float: none;
  color: rgba(0, 0, 0, .9);
  font-weight: 600;
  text-align: left;
}

.image {
  margin-right: 17px;
}

.text-block {
  display: inline;
  clear: none;
  font-family: 'Open Sans', sans-serif;
}

.iconholder {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.textholder {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-2 {
  padding: 30px;
  border-radius: 5px;
  background-color: #f5f5f5;
}

.image-3 {
  border-radius: 90px;
}

.heading-2 {
  margin-top: 24px;
  margin-bottom: 0px;
  color: #000;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
}

.workwrapper {
  position: relative;
  margin-bottom: 20px;
  padding: 16px;
  border-bottom: 1px solid #cacaca;
}

.text-block-2 {
  position: absolute;
  left: -91px;
  top: 35px;
  bottom: 35px;
  display: inline-block;
  padding: 8px 12px 6px;
  background-image: -webkit-linear-gradient(270deg, #ff0505, #ff0505);
  background-image: linear-gradient(180deg, #ff0505, #ff0505);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 11px;
}

html.w-mod-js *[data-ix="new-interaction-2"] {
  opacity: 0.48000000000000004;
  -webkit-transform: scale(0.93, 0.93);
  -ms-transform: scale(0.93, 0.93);
  transform: scale(0.93, 0.93);
}

html.w-mod-js *[data-ix="eased-dropdown"] {
  opacity: 0;
}

html.w-mod-js *[data-ix="interaction-to-slide"] {
  opacity: 0.32000000000000006;
  -webkit-transform: scale(0.8600000000000001, 0.8600000000000001) rotate(5deg);
  -ms-transform: scale(0.8600000000000001, 0.8600000000000001) rotate(5deg);
  transform: scale(0.8600000000000001, 0.8600000000000001) rotate(5deg);
}

html.w-mod-js *[data-ix="fade-out-on-scroll-fade-in-on-scroll"] {
  opacity: 0.5;
}

html.w-mod-js *[data-ix="new-interaction-3"] {
  display: block;
}

@media (max-width: 991px) {
  p {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .case {
    box-shadow: none;
  }
  .teaser-content.card2 {
    min-height: 380px;
  }
  .vector-face-chapo {
    min-height: 90px;
  }
  .career-exp-chapo {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .headline-behind-doors {
    font-size: 28px;
    line-height: 35px;
  }
  .contenthorizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
  }
  .textholder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .div-block-2 {
    display: block;
    width: 650px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  h1 {
    padding-left: 20px;
  }
  h3 {
    padding: 23px;
  }
  p {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .case {
    box-shadow: none;
  }
  .vector-face-title {
    padding-right: 16px;
    padding-left: 16px;
    font-size: 23px;
  }
  .vector-face-chapo {
    min-height: 91px;
    padding-right: 11px;
    padding-left: 11px;
    font-size: 16px;
  }
  .career-exp-chapo {
    padding-right: 32px;
    padding-left: 32px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .div-block-2 {
    width: auto;
  }
  .heading-2 {
    font-size: 24px;
    font-weight: 400;
  }
  .workwrapper {
    text-align: center;
  }
  .text-block-2 {
    position: static;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

@media (max-width: 479px) {
  body {
    padding-left: 0px;
  }
  h3 {
    padding: 17px;
  }
  p {
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .menu-gen {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .sticky-navbar {
    left: 0px;
    top: auto;
    right: 0px;
    bottom: 0px;
  }
  .case {
    box-shadow: none;
  }
  .teaser-container {
    width: 100%;
  }
  .overlay-container._1 {
    left: -100%;
  }
  .vector-face-title {
    min-height: 11px;
    font-size: 21px;
    line-height: 24px;
  }
  .careers-exp.overlay-title.inner {
    font-size: 51px;
    line-height: 49px;
  }
  .career-exp-chapo.overlay-chapo.inside {
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .career-exp-chapo.overlay-chapo.inside.poem-section {
    margin-right: 14px;
    margin-left: 14px;
    padding-right: 21px;
    padding-left: 21px;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .carreer-exp-overlay-container {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .educationicon {
    height: 400px;
  }
  .headline-behind-doors {
    padding-left: 0px;
    font-size: 18px;
    line-height: 20px;
  }
  .textholder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .div-block-2 {
    width: auto;
  }
  .workwrapper {
    text-align: center;
  }
  .row {
    text-align: center;
  }
}

@font-face {
  font-family: 'Webflow my sandbox';
  src: url('../fonts/webflow-my-sandbox.eot') format('embedded-opentype'), url('../fonts/webflow-my-sandbox.woff') format('woff'), url('../fonts/webflow-my-sandbox.ttf') format('truetype'), url('../fonts/webflow-my-sandbox.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Blokkneue';
  src: url('../fonts/BLOKKNeue-Regular.eot') format('embedded-opentype'), url('../fonts/BLOKKNeue-Regular.woff') format('woff'), url('../fonts/BLOKKNeue-Regular.ttf') format('truetype'), url('../fonts/BLOKKNeue-Regular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
}